:root {
    --font-text: "Montserrat", serif;
    --font-headings: "Source Code Pro", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #111;
    color: #EEE;
}

header {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

p {
    font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-headings);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-headings);
    padding: 2rem;
    font-size: clamp(3rem, 1.811rem + 5.766vw, 7rem);
    gap: 1.5rem;
    word-spacing: -10px;
    animation: fadeInUp .8s ease-in-out forwards;
}

h1 {
    text-align: center;
    color: #111;
    -webkit-text-stroke: 1px #eee;
    font-size: inherit;
}

.title span {
    color: #EEE;
    animation: glow 1.5s ease-in-out infinite alternate;
    font-size: inherit;
}

.header__info {
    display: flex;
    justify-content: center;
}

.typewriter {
    opacity: 1;
    font-size: clamp(1.5rem, 1.054rem + 2.162vw, 3rem);
    font-family: var(--font-headings);
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #EEE;
    animation: typewriter 5s steps(40, end),
        blink-caret .9s step-end infinite;
}

@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: #EEE;
    }

    50% {
        border-color: transparent;
    }
}




nav {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: end;
    background-color: #111;
    gap: 5rem;

}

nav ul {
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
    list-style: none;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
}

#navbar {
    transform: translateX(150%);
    transition: transform .6s ease-in-out
}

#navbar.active {
    transform: translateX(0%);
}

nav ul li a {
    text-decoration: none;
    font-family: var(--font-text);
    cursor: pointer;
    display: block;
    padding: .8rem 0;
    color: #EEE;
    position: relative;
    overflow: hidden;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #EEE;
    transition: width 0.2s ease-in-out;
}

nav ul li a:hover::before {
    width: 100%;
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #eee;
    }

    to {
        text-shadow: 0 0 30px #eee, 0 0 10px #fff;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


#particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35px;
    gap: .5rem;
    cursor: pointer;
}

#menu .line {
    width: 100%;
    height: 3px;
    background-color: #EEE;
    transition: all 0.3s ease;
}

.line.active:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.line.active:nth-child(2) {
    opacity: 0;
    transform: translateX(100px)
}

.line.active:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

#menu:hover .line {
    box-shadow: 0px 0px 5px #eee;
}


main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    min-height: 100vh;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#projects {
    gap: clamp(3rem, 2.405rem + 2.883vw, 5rem);
}

h2 {
    font-size: clamp(3rem, 2.703rem + 1.441vw, 4rem);
    position: relative;
    line-height: 3rem;
    width: 100%;
    transition: font-size .3s ease-out;
}

h2>span {
    position: absolute;
    inset: 0;
    font-size: clamp(3.5rem, 2.608rem + 4.324vw, 6.5rem);
    font-weight: bold;
    color: #EEE3;
    z-index: -1;
    transition: font-size .3s ease-out;
}

h2:hover {
    font-size: clamp(3.5rem, 2.608rem + 4.324vw, 6.5rem);
}

h2:hover>span {
    font-size: clamp(3rem, 2.703rem + 1.441vw, 4rem);
}

.projects__cards {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.projects__cards .card {
    display: flex;
    flex-direction: column;
    width: clamp(18.75rem, 15.034rem + 18.018vw, 31.25rem);
    border: 1px solid #333;
    background-color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px #EEE2;
}

.projects__cards .card:nth-child(1) .card__img:hover img {
    transform: translateY(-80%);
}

.projects__cards .card:nth-child(2) .card__img:hover img {
    transform: translateY(-65%);
}

.projects__cards .card:nth-child(3) .card__img:hover img {
    transform: translateY(0%);
}

.projects__cards .card .card__img {
    padding: 2rem;
    width: 100%;
    height: clamp(12.5rem, 10.642rem + 9.009vw, 18.75rem);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #333;
}

.projects__cards .card .card__img .card__img--website {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects__cards .card .card__img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.projects__cards .card:nth-child(1) img {
    transition: transform 6s ease-out;
}

.projects__cards .card:nth-child(2) img {
    transition: transform 4s ease-out;
}

.projects__cards .card:nth-child(3) img {
    transition: transform 0s ease-out;
}


.projects__cards .card .card__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: .9rem;
    padding: 2rem;
    background-color: #111;
    text-align: left;
}

.projects__cards .card .card__info {
    font-size: .9rem;
}

.projects__cards .card .card__info .icon {
    width: 30px;
}

.card__info .card__info--tech {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.card__info .card__info--tech li {
    width: 35px;
    border-radius: 50%;
    background-color: #EEE;
    padding: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: box-shadow .3s ease-out;
}

.card__info .card__info--tech li.html {
    background-color: #ff4500;
}

.card__info .card__info--tech li.css {
    background-color: #244be3;
}

.card__info .card__info--tech li.js {
    background-color: #ffdf00;
}

.card__info .card__info--tech li.php {
    background-color: #8892bd;
}

.card__info .card__info--tech li.h {
    background-color: #6c44cd;
}

.card__info .card__info--tech li.github {
    background-color: #eeeeee;
}

.card__info .card__info--tech li.html:hover {
    box-shadow: 0px 0px 6px 3px #ff4500ee;
}

.card__info .card__info--tech li.css:hover {
    box-shadow: 0px 0px 6px 3px #244be3ee;
}

.card__info .card__info--tech li.js:hover {
    box-shadow: 0px 0px 6px 3px #ffdf00ee;
}

.card__info .card__info--tech li.php:hover {
    box-shadow: 0px 0px 6px 3px #8892bdee;
}

.card__info .card__info--tech li.h:hover {
    box-shadow: 0px 0px 6px 3px #6c44cdee;
}

.card__info .card__info--tech li.github:hover {
    box-shadow: 0px 0px 6px 3px #eeeeeeee;
}


.card__info .card__info--tech li img {
    width: 100%;
}


.card__info .card__info--links a {
    font-family: var(--font-text);
    color: #EEE;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.card__info .card__info--functions {
    font-family: var(--font-text);
}

.card__info .card__info--functions li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    padding: .2rem 0;
}

.card__info .card__info--functions img {
    width: 30px;
}

.filters {
    width: 100%;
}

.filters ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 0.703rem + 1.441vw, 2rem);
    flex-wrap: wrap;
    font-size: clamp(1rem, 0.941rem + 0.288vw, 1.2rem);
    font-family: var(--font-text);
}

.filters li {
    padding: 1rem;
    cursor: pointer;
    background-color: transparent;
    color: #EEE;
    border: 1px solid #333;
    transition: .2s color ease-out, .2s background-color ease-out, box-shadow .2s ease-out;
}

.filters li:hover {
    box-shadow: 0 0 3px 6px #EEE2;
}

.filters li.active {
    color: #EEE;
    background-color: #333;
}

@media screen and (max-width: 860px) {
    h1 {
        max-width: 400px;
    }
}

@media screen and (max-width: 768px) {

    nav {
        align-items: center;
        justify-content: center;
        height: 0rem;
        width: 100%;
        padding: 0;
        ;
    }

    #menu {
        position: absolute;
        margin: 2rem;
        right: 0;
        top: 0;
    }

    #navbar {
        flex-direction: column;
        transform: translateY(-100%);
        transition: transform .4s ease-in-out;
        background-color: #111;
        width: 100%;
        max-width: 130%;
        text-align: center;
        padding: 2rem;
    }

    #navbar.active {
        transform: translateY(45%);
    }

    nav ul li a {
        display: flex;
        justify-content: center;
    }

    nav ul li a::before {
        content: '';
        position: absolute;
        height: 0px;
        left: 50%;
        transform: translateX(-50%);
        transition: height 0.2s ease-in-out;
        width: 100%;
        max-width: 200px;
    }

    nav ul li a:hover::before {
        height: 3px;
    }
}