:root {
    --font-text: "Montserrat", serif;
    --font-headings: "Source Code Pro", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #111;
    color: #EEE;
}

header {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

p {
    font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-headings);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-headings);
    padding: 2rem;
    font-size: clamp(3rem, 1.811rem + 5.766vw, 7rem);
    gap: 1.5rem;
    word-spacing: -10px;
    animation: fadeInUp .8s ease-in-out forwards;
}

h1 {
    text-align: center;
    color: #111;
    -webkit-text-stroke: 1px #eee;
    font-size: inherit;
}

.title span {
    color: #EEE;
    animation: glow 1.5s ease-in-out infinite alternate;
    font-size: inherit;
}

.title+span {
    opacity: 0;
    font-size: clamp(1.5rem, 1.054rem + 2.162vw, 3rem);
    font-family: var(--font-headings);
    animation: fadeInUp .8s ease-in-out forwards .5s;
}


nav {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: end;
    background-color: #111;
    gap: 5rem;

}

nav ul {
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
    list-style: none;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
}

#navbar {
    transform: translateX(150%);
    transition: transform .6s ease-in-out
}

#navbar.active {
    transform: translateX(0%);
}

nav ul li a {
    text-decoration: none;
    font-family: var(--font-text);
    cursor: pointer;
    display: block;
    padding: .8rem 0;
    color: #EEE;
    position: relative;
    overflow: hidden;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #EEE;
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::before {
    width: 100%;
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #eee;
    }

    to {
        text-shadow: 0 0 30px #eee, 0 0 10px #fff;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
        /* Posición inicial */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Posición final */
    }
}


#particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35px;
    gap: .5rem;
    cursor: pointer;
}

#menu .line {
    width: 100%;
    height: 3px;
    background-color: #EEE;
    transition: all 0.3s ease;
}

.line.active:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.line.active:nth-child(2) {
    opacity: 0;
    transform: translateX(100px)
}

.line.active:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

#menu:hover .line {
    box-shadow: 0px 0px 5px #eee;
}


main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    display: none;
}

section {
    width: 100%;
    min-height: 100vh;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 4rem;
    position: relative;
    line-height: 3rem;
    width: 100%;
    transition: font-size .3s ease-out;
}

h2>span {
    position: absolute;
    inset: 0;
    font-size: 6.5rem;
    font-weight: bold;
    color: #EEE3;
    z-index: -1;
    transition: font-size .3s ease-out;
}

h2:hover {
    font-size: 6.5rem;
}

h2:hover>span {
    font-size: 4rem;
}

.projects__cards {
    margin-top: 5rem;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.projects__cards .card {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 2rem;
    border: 1px solid #eee;
}

.projects__cards .card:hover:nth-child(1) img {
    transform: translateY(-77%);
}

.projects__cards .card:hover:nth-child(2) img {
    transform: translateY(-60%);
}

.projects__cards .card:hover:nth-child(3) img {
    transform: translateY(0%);
}

.projects__cards .card .card__img {
    padding: 2rem;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
}

.projects__cards .card .card__img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.projects__cards .card:nth-child(1) img {
    transition: transform 6s ease-out;
}

.projects__cards .card:nth-child(2) img {
    transition: transform 4s ease-out;
}

.projects__cards .card:nth-child(3) img {
    transition: transform 0s ease-out;
}

@media screen and (max-width: 860px) {
    h1 {
        max-width: 400px;
    }
}


@media screen and (max-width: 768px) {

    nav {
        align-items: center;
        justify-content: center;
        height: 0rem;
        width: 100%;
        padding: 0;
        ;
    }

    #menu {
        position: absolute;
        margin: 2rem;
        right: 0;
        top: 0;
    }

    #navbar {
        flex-direction: column;
        transform: translateY(-100%);
        transition: transform .4s ease-in-out;
        background-color: #111;
        width: 100%;
        max-width: 130%;
        text-align: center;
        padding: 2rem;
    }

    #navbar.active {
        transform: translateY(45%);
    }

    nav ul li a {
        display: flex;
        justify-content: center;
    }

    nav ul li a::before {
        content: '';
        position: absolute;
        height: 0px;
        left: 50%;
        transform: translateX(-50%);
        transition: height 0.2s ease-in-out;
        width: 100%;
        max-width: 200px;
    }

    nav ul li a:hover::before {
        height: 3px;
    }
}